page-home {

}

.header{
	font-size:20px
}

.center-text{
	text-align:center;
	color:#488aff
}

.center-element{
	width: 50%;
	margin: 0 auto;
	text-align: left
}

.corner-btn-footer{
	border-top: 1px solid;
    position: fixed;
    bottom: 0;
    right: -18px;
    left: 0;
}

.footer-btn{
	margin-top:40px;
	width:100%
}

.padding5{
	padding-right:5px;
}